#CAIXA_PRINCIPAL {
  margin: 0 auto;
  margin-top: 5%;
    padding-top: 5%;
  width: 650px;
  background-color: #e8e8e8;
  border-radius: 30px;
}

#TEXTO_CARDAPIO {
  width: 300px;
  font-size: 62px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
#TEXTO_BANDEJAO {
  width: 120px;
  font-size: 25px;
  font-weight: medium;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 20px;
  margin: 0 auto;
}
#IMAGEM_CARDAPIO {
  width: 135px;
  height: 135px;
  background-image: url(./../../UI/Icons/cardapioIcon.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

#BLOCO_CREDITOS {
  font-family: "Montserrat";
  color: rgba(00, 00, 00, 0.7);
  font-weight: normal;
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -1%;
  top: -10px;
}

#visualizar-cardapio{
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  background-color: rgba(28, 76, 46, 1);
  margin-top: 17%;
  margin-left: 20%;
}