
#BLOCO_VOLTAR_CARDAPIO {
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  background-color: #a60808;
  margin-top: 30%;
  margin-bottom: 5%;
  margin-left: 20%;
}
#TEXTO_CARDAPIO {
  width: 300px;
  font-size: 62px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
#subtitulo {
  width: 320px;
  font-size: 26px;
  font-weight: medium;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 25px;
  margin: 0 auto;
  text-align: center;
}
#IMAGEM_CARDAPIO {
  width: 135px;
  height: 135px;
  background-image: url(./../../UI/Icons/cardapioIcon.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
#PRINCIPAL {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 70px;
  
}
#resposta_PRINCIPAL {
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  position: relative;
  top: 50px;
  left: 80px;
  width: 70%;
  height: 45px;
  margin-top: 1.5%;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}

#LINHA_PRINCIPAL {
  color: black;
  opacity: 25%;
  position: relative;
  top: 50px;
  left: 9%;
}
#IMAGEM_GARFO_FACA {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);
  background-size: cover;
  background-position: center;
  position: relative;
  top: 100px;
  left: 40px;
}
#OPCAO {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  top: 80px;
}
#resposta_SECUNDARIA {
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  width: 70%;
  height: 45px;
  position: relative;
  top: 100px;
  left: 80px;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}
#LINHA_OPCAO {
  color: black;
  opacity: 25%;
  position: relative;
  top: 100px;
  left: 9%;
}
#IMG_OPCAO {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);

  background-size: cover;
  background-position: center;
  position: relative;
  top: 43px;
  left: 40px;
}
#VEGETARIANA {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  top: 110px;
}
#resposta_VEGETARIANA {
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  width: 70%;
  height: 45px;
  position: relative;
  top: 135px;
  left: 80px;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}
#LINHA_VEGETARIANA_OPCAO {
  color: black;
  opacity: 25%;
  position: relative;
  top: 135px;
  left: 9%;
}
#IMG_VEGETARIANA {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);

  background-size: cover;
  background-position: center;
  position: relative;
  top: 77px;
  left: 40px;
}
#modal-acompanhamento {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 125px;
  margin-bottom: -1.5%;
}
#resposta_ACOMPANHAMENTOS {
  font-size: 19px;
  font-weight: 550;
  opacity: 0.6;
  width: 70%;
  height: 66px;
  position: relative;
  top: 156px;
  left: 80px;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}
#LINHA_ACOMPANHAMENTOS_OPCAO {
  color: black;
  opacity: 25%;
  position: relative;
  top: 155px;
  left: 9%;
}
#IMG_ACOMPANHAMENTOS {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);

  background-size: cover;
  background-position: center;
  position: relative;
  top: 78px;
  left: 40px;
}
#modal-guarnicao {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 150px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;

}
#resposta_GUARNICOES {
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  width: 70%;
  height: 45px;
  position: relative;
  top: 166px;
  left: 80px;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}
#LINHA_GUARNICAO {
  color: black;
  opacity: 25%;
  position: relative;
  top: 165px;
  left: 9%;
}
#IMG_GUARNICAO {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);

  background-size: cover;
  background-position: center;
  position: relative;
  top: 109px;
  left: 40px;
}
#modal-salada {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 150px;
  margin-top: 2.5%;
}
#resposta_SALADA {
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  width: 70%;
  height: 45px;
  position: relative;
  top: 166px;
  left: 80px;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}
#LINHA_SALADA {
  color: black;
  opacity: 25%;
  position: relative;
  top: 165px;
  left: 9%;
}
#IMG_SALADA {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);

  background-size: cover;
  background-position: center;
  position: relative;
  top: 109px;
  left: 40px;
}
#modal-sobremesa {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 150px;
  margin-top: 1.9%;
}
#resposta_SOBREMESA {
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  width: 70%;
  height: 45px;
  position: relative;
  top: 163px;
  left: 80px;
  margin-left: 2%;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
}
#LINHA_SOBREMESA {
  color: black;
  opacity: 25%;
  position: relative;
  top: 160px;
  left: 9%;
}
#IMG_SOBREMESA {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);

  background-size: cover;
  background-position: center;
  position: relative;
  top: 104px;
  left: 40px;
}
#BLOCO_CREDITOS {
  font-family: "Montserrat";
  color: rgba(00, 00, 00, 0.7);
  font-weight: normal;
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -1%;
  top: -10px;
}
