.box-agendar.cardapio-admin.modal-aluno{
  margin-top: 34rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

#BLOCO_VOLTAR_CARDAPIO {
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  background-color: #a60808;
  margin-top: 30%;
  margin-bottom: 5%;
  margin-left: 20%;
}
#TEXTO_CARDAPIO {
  width: 300px;
  font-size: 62px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

#IMAGEM_CARDAPIO {
  width: 135px;
  height: 135px;
  background-image: url(./../../UI/Icons/cardapioIcon.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
#PRINCIPAL {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 70px;
  
}
.modal-aluno hr{
  width: 80%;
  
}
.resposta-modal-aluno{
  font-size: 22px;
  font-weight: 550;
  opacity: 0.6;
  width: 90%;
  margin-bottom: 0.1rem;
  height: auto;
  text-align: center;
  line-height: 45px; /* Alinha verticalmente */
  word-wrap: break-word;
}



#OPCAO {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  top: 80px;
}



#VEGETARIANA {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  top: 110px;
}


#modal-acompanhamento {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 125px;
  margin-bottom: -1.5%;
}



#modal-guarnicao {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 150px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;

}

#modal-salada {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 150px;
  margin-top: 2.5%;
}

#modal-sobremesa {
  width: 100%;
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 150px;
  margin-top: 1.9%;
}

.modal-aluno #BLOCO_CANCELAR{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#BLOCO_CREDITOS {
  font-family: "Montserrat";
  color: rgba(00, 00, 00, 0.7);
  font-weight: normal;
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -1%;
  top: -10px;
}
