* {
    padding: 0;
    margin: 0;
    
  }
  #registro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    height: 780px;
    width: 500px;
    background-color: #e8e8e8;
  
    border-radius: 30px;
  }

  #title{
    font-family: "Montserrat";
    font-size: 62px;
    font-weight: bold;
    width: 460px;
    opacity: 0.9;
    position: absolute;
    top: 3%; /* Posiciona o texto no final do quadrado */
    left: 50%; /* Posiciona o texto no meio horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    margin: 0; /* Remove margens padrão */
    text-align: center;

  }
  
  #botoes button
  {
    font-family: "Montserrat";
    color: rgba(00, 00, 00, 0.7);
    font-weight: bold;
    font-size: 40px;

    display: block;
    width: 204px;
    height: 65px;
    border-radius: 30px;
    margin-bottom: 25px; /* Espaçamento entre os botões */
    box-sizing: border-box;
    cursor: pointer;
    

  }
  #botoes .coluna{
    width: 48%;
    margin-left: 5%;
  }
  #botoes
  {
    display: flex;
    justify-content: space-between; /* Isso garante que os espaços entre os botões sejam uniformes */
    width: 500px; /* Largura total da div */
    margin: 0 auto; /* Centralizar a div */
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
  }
  #botoes button:hover{
    transition: 0.5s;
  
    opacity: 0.9;
  
  }
  #cardapio:hover
  {
    background-color: rgba(28, 76, 46, 1);
    
    transition: 0.5s;
  
    opacity: 0.9;
  
    color: #dad5d5;
  }

  /* Classes de cores */
.button-green {
  background-color: #3F9317;
  color: black;
}

.button-green-light {
  background-color: #b2e145;
  color: black;
}
.button-yellow {
  background-color: #E6E84E;
  color: black;
}
.button-orange {
  background-color: #E9BD4B;
  color: black;
}

.button-red-light {
  background-color: #e97a47;
  color: black;
}
.button-red-strong {
  background-color: #c43131;
  color: black;
  color: rgba(00, 00, 00, 1);
}
  
  #cardapio
  {
    height: 69px;
    width: 389px;
    border-radius: 30px;
    font-family: "Montserrat";
    color: #FFFFFF;
    background-color: rgba(28, 76, 46, 1);
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */

  }

  #lowText {
    font-family: "Montserrat";
    color: rgba(00, 00, 00, 0.7);
    font-weight: normal;
    height: 30px;
    width: 390px;
    font-size: 17px;
    position: absolute;
    bottom: 0; /* Posiciona o texto no final do quadrado */
    left: 50%; /* Posiciona o texto no meio horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    margin: 0; /* Remove margens padrão */
    text-align: center;

    padding: 10px; /* Adiciona um preenchimento para separar o texto das bordas do quadrado */

    
  }
  .bold
  {
      font-weight: bold;
      color: rgba(28, 76, 46, 0.7);
  
  }
  

  
  #Desconect {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #e8e8e8;
    width: 330px;
    height: 70px;
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a4d2e;
    border-radius: 30px;
    z-index: 1;
  }
  #limparEmail {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #e8e8e8;
    width: 330px;
    height: 70px;
    position: relative;
    top: 80%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    background-color: #1a4d2e;
    border-radius: 30px;
    z-index: 1;
  }
  #prosseguir {
    font-size: 28px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #e8e8e8;
    width: 330px;
    height: 70px;
    position: relative;
    top: 60%;
    left: 27.5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #1a4d2e;
    border-radius: 30px;
  }
  #prosseguir:hover,
  #limparEmail:hover,
  #Desconect:hover {
    background-color: #dad5d5;
  
    transition: 0.5s;
  
    opacity: 0.9;
  
    color: rgba(28, 76, 46, 1);
  }
  #lowText .bold:hover{
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.85;
  
  }