/* html,
body {
  width: 100%; 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.box-agendar {
  width: 530px;
  background-color: #e8e8e8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0;
  box-sizing: border-box;
}
.time-out{
  padding: 3rem 1rem;
}
#title {
  padding: 0 1rem;
  font-family: "Montserrat";
  font-size: 62px;
  font-weight: bold;
  opacity: 0.9;
  text-align: center;
  margin: -0.4rem 0 -1rem;
}
.time-out #title{
  margin-bottom: 2rem;
}
.time-out h4 {
  text-wrap: wrap;
  width: 100%;
  font-size: 30px;
  margin: 1.2rem 0 1.4rem;
  font-weight: 500;
  text-align: center;
}

#botoes button {
  font-family: "Montserrat";
  color: rgba(00, 00, 00, 0.7);
  font-weight: bold;
  font-size: 40px;
  display: block;
  width: 204px;
  height: 65px;
  border-radius: 30px;
  margin-bottom: 20px; /* Espaçamento entre os botões */
  box-sizing: border-box;
  cursor: pointer;
}

#botoes {
  display: flex;
  justify-content: space-between; /* Isso garante que os espaços entre os botões sejam uniformes */
  margin: 2rem auto 1rem; /* Centralizar a div */
  gap: 2rem;
}
#botoes button:hover {
  transition: 0.5s;
  opacity: 0.9;
}
/* Classes de cores */
.button-gray {
  background-color: grey;
  color: black;
}

.button-green {
  background-color: #3f9317;
  color: black;
}
.button-green-light {
  background-color: #b2e145;
  color: black;
}
.button-yellow {
  background-color: #e6e84e;
  color: black;
}
.button-orange {
  background-color: #e9bd4b;
  color: black;
}
.button-red-light {
  background-color: #e97a47;
  color: black;
}
.button-red-strong {
  background-color: #c43131;
  color: black;
  color: rgba(00, 00, 00, 1);
}
.botao-navegacao{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 24rem;
  padding: 1rem;
  height: 69px;
}
.botao-navegacao.verde{
  
  background-color: rgba(28, 76, 46, 1);
  
  margin-bottom: 1vw;
}
.botao-navegacao.verde:hover {
  background-color: rgba(28, 76, 46, 1);
  transition: 0.5s;
  opacity: 0.9;
  color: #dad5d5;
}

.vermelho {
  background-color: #a60808;
}
.ativo{
  font-size: 26px;
  margin-top: 0.6rem;
}
.lowText{
  margin-top: 1rem;
}

.bold {
  font-weight: bold;
  color: rgba(28, 76, 46, 0.7);
}

@media(max-width: 580px){
  .box-agendar{
    width: 95vw;
  }
}

@media(max-width: 525px){
  #title{
    font-size: 52px;
    margin-bottom: -1rem;
    padding: 0 1.5rem;

  }
  #botoes button{
    min-width: 10rem;
    width: 36vw;
    max-width: 12rem;
    font-size: 30px;
    height: 3.5rem;
  }
  .botao-navegacao{
    width: 18rem;
    height: 3.8rem;
    font-size: 28px;
  }
  .botao-navegacao.verde{
    margin-bottom: 1rem;
  }
  .botao-navegacao.vermelho{
    margin-bottom: 0;
  }
  .botao-navegacao.ativo{
    font-size: 20px;
    padding: 2rem 0;
  }
  .lowText{
    font-size: 16px;
  }
}
@media(max-width: 475px){
  .time-out #iconAgend{
    width: 12rem;
  }
  .time-out h4{
    font-size: 24px;
  }
}

@media(max-width: 400px){
  #title{
    font-size: 46px;
    margin-bottom: -1rem;
  }
  #botoes button{
    min-width: 8rem;
    width: 36vw;
    max-width: 10rem;
    font-size: 22px;
    height: 3rem;
    margin-bottom: 1rem;
  }
  .botao-navegacao{
    min-width: 14rem;
    width: 60vw;
    height: 3rem;
    font-size: 22px;
  }
  .botao-navegacao.verde{
    margin-top: -0.5rem;
    margin-bottom: 0.8rem;
  }
  .botao-navegacao.vermelho{
    margin-bottom: 0;
  }
  .ativo{
    margin-top: 0rem;
    font-size: 22px;
    padding: 2rem 0;
  }
  .time-out #iconAgend{
    width: 10rem;
  }
  .time-out h4{
    font-size: 22px;
  }
  .lowText{
    font-size: 14px;
  }
}
@media(max-width: 335px){
  #title{
    font-size: 36px;
    margin-bottom: -1rem;
  }
  #botoes button{
    min-width: 6rem;
    width: 36vw;
    max-width: 8rem;
    font-size: 17px;
    height: 2.4rem;
    margin-bottom: 0.6rem;
  }
  .botao-navegacao{
    min-width: 12rem;
    width: 60vw;
    height: 2.6rem;
    font-size: 22px;
  }
  .botao-navegacao.verde{
    margin-top: -0.5rem;
    margin-bottom: 0.8rem;
  }
  .botao-navegacao.vermelho{
    margin-bottom: -0.4rem;
  }
  .botao-navegacao.ativo{
    font-size: 18px;
    padding: 1.6rem 0;
  }
  .time-out #iconAgend{
    width: 8rem;
  }
  .time-out h4{
    font-size: 20px;
  }
  .lowText{
    font-size: 12px;
  }
}