* {
  padding: 0;
  margin: 0;
}

#BACKGROUND_id {
  position: fixed;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  color: black;
  backdrop-filter: blur(
    4.5px
  ); /* valor ajustável para mais ou menos desfoque */
  overflow-y: auto; /* Habilita a rolagem vertical quando necessário */
  display: flex;
  align-items: center;
  justify-content: center;
}

#MODAL_id {
 
  font-family: "Montserrat", sans-serif;
  width: 420px;
  border-radius: 30px;
  margin: 0;
  background-color: #e8e8e8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#BLOCO_CANCELAR {
  background-color: rgba(166, 8, 8, 1);

  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;

}
#CONTEUDO_MODAL hr{
  margin: 0.5rem 0 1rem;
  border: solid;
  border-width: 0.1px;
}
#BLOCO_CONFIRMAR {
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  background-color: rgba(28, 76, 46, 1);
  margin: 0 0 1rem;
}

#CONTEUDO_MODAL {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#PESSOAS_MODAL {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: "Montserrat";
  font-size: 23px;
  font-weight: medium;
  color: rgba(0, 0, 0, 0.6);
}
#desc-fora-horario {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
  font-family: "Montserrat";
  font-size: 23px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
  padding: 0 2rem;
}

#TITULO_DISPONIVEL {
  font-size: 62px;
  font-weight: bold;
  font-family: "Montserrat";
  color: rgba(28, 76, 46, 1);
  text-align: center;

}

#VAGAS_MODAL {
  font-family: "Montserrat";
  font-weight: medium;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 25px;

}
#IMAGEM_DISPONIVEL {
  width: 135px;
  height: 135px;
  background-image: url(./../../UI/Icons/check-mark_1.png);
  background-size: cover;
  background-position: center;
}
#IMAGEM_USUARIO {
  width: 20px;
  height: 20px;
  opacity: 0.4;
  background-size: cover;
  background-position: center;
 
  background-image: url(./../../UI/Icons/user.png);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    
 }

  #BACKGROUND_id {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    color: black;
    backdrop-filter: blur(7px); /* valor ajustável para mais ou menos desfoque */
}


#BLOCO_VOLTAR{
background-color: rgba(166,8,8,1);
top: 75%;
position: absolute;
font-size: 28px;
font-weight: bold;
color: #e8e8e8;
font-family: 'Montserrat', sans-serif;
cursor: pointer;
border-radius: 30px;
width: 389px;
height: 69px;
left: 50%;
transform: translateX(-50%);
display: block;
}

#TITULO_INDISPONIVEL {
  font-size: 62px;
  font-weight: bold;
  font-family: "Montserrat";
  color: rgba(166, 8, 8, 1);
  text-align: center;

}
#IMAGEM_INDISPONIVEL{
  width: 135px;
  height: 135px;
  background-image: url(./../../UI/Icons/delete.png);
    background-size: cover;
  background-position: center;
}

@media(max-width: 580px){
  #MODAL_id{
    width: 75vw;
  }
}

@media(max-width: 525px){
  #MODAL_id{
    width: 72vw;
  }
  #TITULO_DISPONIVEL, #TITULO_INDISPONIVEL{
    font-size: 52px;
    margin-bottom: -1rem;
    padding: 0 1.5rem;
  }
  #CONTEUDO_MODAL p{
    font-size: 20px;
  }
  #IMAGEM_INDISPONIVEL{
    height: 120px;
    width: 120px;
    margin: 1.3rem 0 0.7rem;
  }
  #BLOCO_CONFIRMAR {
    width: 64vw;
    height: 14vw;
    font-size: 28px;
  }
  #BLOCO_CANCELAR {
    width: 64vw;
    height: 14vw;
    font-size: 28px;
  }
  #desc-fora-horario {
    margin-top: 0.5rem;
    }
}
@media(max-width: 400px){
  #MODAL_id{
    width: 70vw;
  }
  #TITULO_DISPONIVEL, #TITULO_INDISPONIVEL{
    font-size: 46px;
    margin-bottom: -1rem;
  }
  #CONTEUDO_MODAL p{
    font-size: 18px;
  }
  #IMAGEM_DISPONIVEL{
    width: 115px;
    height: 115px;
  }
  #IMAGEM_INDISPONIVEL{
    height: 110px;
    width: 110px;
    margin: 1.3rem 0 0.7rem;
  }
  
  #BLOCO_CONFIRMAR{
    font-size: 24px;
  }
  #BLOCO_CANCELAR{
    font-size: 24px;
  }
  #desc-fora-horario {
    margin-top: 0.3rem;
    }
}
@media(max-width: 335px){
  #MODAL_id{
    width: 67vw;
  }
  #TITULO_DISPONIVEL, #TITULO_INDISPONIVEL{
    font-size: 36px;
    margin-bottom: -1rem;
  }
  #CONTEUDO_MODAL p{
    font-size: 16px;
  }
  #IMAGEM_DISPONIVEL{
    width: 96px;
    height: 96px;
  }
  #IMAGEM_INDISPONIVEL{
    height: 90px;
    width: 90px;
    margin: 1.3rem 0 0.7rem;
  }
  #BLOCO_CONFIRMAR{
    font-size: 20px;
  }
  #BLOCO_CANCELAR{
    font-size: 20px;
  }

}