* {
    padding: 0;
    margin: 0;
  }
  
  #BACKGROUND_id {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    color: black;
    backdrop-filter: blur(
      4.5px
    ); /* valor ajustável para mais ou menos desfoque */
  }
  
  #MODAL_id_ATIVO {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    display: block;
    width: 460px;
    height: 550px;
    border-radius: 30px;
    top: 21%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: #e8e8e8;
  }
  
  #TITULO_ATIVO{
    font-size: 62px;
      font-weight: bold;
      font-family: 'Montserrat';
      color: rgb(179, 162, 11);
      position: relative;
      top: -105px;
      text-align: center;
  }
  #IMAGEM_USUARIO_ATIVO{
  width: 120px;
  height: 120px;
  background-image: url('../../UI/Icons/alerta.png');
  background-size: cover;
  background-position: center;
  position: relative;
  left: 34%;
  top: -155px;
  }
  #BLOCO_CANCELAR_ATIVO {
    background-color: rgba(166, 8, 8, 1);
    top: 80%;
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    color: #e8e8e8;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 30px;
    width: 389px;
    height: 69px;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
    display: block;
    z-index: 5;

  }
  #BLOCO_CONFIRMAR_ATIVO {
    font-size: 28px;
    font-weight: bold;
    color: #e8e8e8;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    border-radius: 30px;
    width: 389px;
    height: 69px;
    background-color: rgba(28, 76, 46, 1);
    top: 70.1%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: block;
    z-index: 6;

  }
  
  #CONTEUDO_MODAL_ATIVO {
    font-family: "Montserrat", sans-serif;
    transform: translateX(-50%);
    position: absolute;
    top: 20%;
    left: 50%;
  }
  
  
  #PESSOAS_MODAL_ATIVO {
    font-family: "Montserrat";
    font-size: 23px;
    font-weight: medium;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    left: 43%;
    top: -110px;
  }
  #AVISO_MODAL_ATIVO {
    font-family: "Montserrat";
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: -89px;
    text-align: center;
  }
  #VAGAS_MODAL_ATIVO {
    font-family: "Montserrat";
    font-weight: medium;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 25px;
    position: relative;
    left: 8%;
    top: 5px;
  }
  
  #IMAGEM_ATIVO {
    width: 20px;
    height: 20px;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 63px;
    left: 30%;
    background-image: url(./../../UI/Icons/user.png);
  }
  #LINHA_MODAL_ATIVO {
    position: relative;
    top: -195px;
  }

  
  #BLOCO_INDISPONÍVEL{
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 460px;
    height: 534px;
    border-radius: 30px;
    top: 22%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    background-color: #e8e8e8;
  }
  #BLOCO_VOLTAR{
  background-color: rgba(166,8,8,1);
  top: 75%;
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 5;
  }

  
  /* #TITULO_INDISPONIVEL{
    font-size: 62px;
      font-weight: bold;
      font-family: 'Montserrat';
      color: rgba(166,8,8,1);
      position: relative;
      top: -75px;
  }
   */
  #VAGAS_INDISPONIVEL{
    font-family: 'Montserrat';
    font-weight: medium;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    font-size: 26px;
    position: relative;
    left: 7%;
    top: -50px;
  }
  #PESSOAS_INDISPONIVEL{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: medium;
    color: rgba(0,0,0,0.6);
    position: relative;
    left: 42%;
    top: -40px;  
  }
  
  #LINHA_INDISPONIVEL{
    position: relative;
    top: -55px;
  }