* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

#box-visualizar-senha {
  width: 530px;
  background-color: #e8e8e8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
  box-sizing: border-box;
}

#titulo {
  font-family: "Montserrat";
  font-size: 62px;
  font-weight: bold;
  width: 460px;
  opacity: 0.9;
  margin: 0; /* Remove margens padrão */
  text-align: center;
  color: #0f3a20;
}
#iconAgend {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: center; /* Centraliza a imagem dentro do elemento */
  vertical-align: top; /* Alinha a imagem na parte superior */
  width: 250px;
}
#iconUser {
  width: 24;
  height: 31px;
  opacity: 40%;
}

#informacoes {
  margin-top: 5%;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  text-align: left;
  font-size: 25px;
  font-weight: medium;
  opacity: 100%;
}
#iconUser {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center; /* Cola a imagem à esquerda */
  width: 31px;
}
.infoUser {
  width: 100%;
  text-align: left;
  padding-top: 3px;
  margin-left: 1rem;
  font-size: 24px;
  font-weight: 600;
  opacity: 70%;
  color: #021208;
}
.textLight {
  display: flex;
  margin-top: 10px;
  margin-left: 1rem;
}
hr {
  width: 100%; /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none; /* Remove a borda padrão */
  background-color: #000; /* Define a cor do traço */
  margin-top: 5px; /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5; /* Define a opacidade do traço */
}
.info {
  margin-bottom: 20px;
}
#senha {
  text-align: center;
  font-size: 25px;
  font-weight: medium;
  opacity: 100%;
  margin-top: 0px;
}
#numSenha {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #0f3a20;
  opacity: 100%;
  margin-top: -20px;
}

#verHorario {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #e8e8e8;
  width: 380px;
  height: 70px;
  z-index: 1;
  background-color: #1a4d2e;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 1rem;
}
#cancelarAgend {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #e8e8e8;
  width: 380px;
  height: 70px;
  z-index: 1;
  background-color: #a60808;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}



 button:hover,
 #rodape .bold:hover{
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.85;

}