* {
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

#box-visualizar-senha {
  width: 530px;
  background-color: #e8e8e8;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
  box-sizing: border-box;
}

#title.titulo-agendamento{
  color: #0f3a20;
  opacity: 0.8;
}
#iconAgend {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: center; /* Centraliza a imagem dentro do elemento */
  vertical-align: top; /* Alinha a imagem na parte superior */
  width: 250px;
}
#iconUser {
  width: 24;
  height: 31px;
  opacity: 40%;
}

#informacoes {
  margin-top: 5%;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  text-align: left;
  font-size: 25px;
  font-weight: medium;
  opacity: 100%;
}
.agendamento{
  font-size: 32px;
  line-height: 1.6rem;
}
#iconUser {
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a área */
  background-position: left center; /* Cola a imagem à esquerda */
  width: 31px;
}
.infoUser {
  width: 100%;
  text-align: left;
  padding-top: 3px;
  margin-left: 1rem;
  font-size: 24px;
  font-weight: 600;
  opacity: 70%;
  color: #021208;
}
.textLight {
  display: flex;
  margin-top: 10px;
  margin-left: 1rem;
}
hr {
  width: 100%; /* Ajusta a largura para preencher toda a largura do contêiner pai */
  height: 0.1px;
  border: none; /* Remove a borda padrão */
  background-color: #000; /* Define a cor do traço */
  margin-top: 5px; /* Espaçamento superior entre o hr e o conteúdo acima */
  opacity: 0.5; /* Define a opacidade do traço */
}
.info {
  margin-bottom: 20px;
}
#senha {
  text-align: center;
  font-size: 25px;
  font-weight: medium;
  opacity: 100%;
  margin-top: 0px;
}
#numSenha {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #0f3a20;
  opacity: 100%;
  margin-top: -20px;
}

#verHorario {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #e8e8e8;
  width: 380px;
  height: 70px;
  z-index: 1;
  background-color: #1a4d2e;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 1rem;
}
#cancelarAgend {
  font-size: 28px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #e8e8e8;
  width: 380px;
  height: 70px;
  z-index: 1;
  background-color: #a60808;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}



 button:hover,
 #rodape .bold:hover{
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.85;

}


@media(max-width: 580px){
  #title.titulo-agendamento{
    font-size: 50px;
  }
  #box-visualizar-senha{
    width: 90vw;
  }
  .agendamento{
    font-size: 30px;
    line-height: 1.6rem;
  }
}

@media(max-width: 525px){
  #title{
    font-size: 52px;
    margin-bottom: -1rem;
    padding: 0 1.5rem;
  }
  .agendamento{
    font-size: 24px;
    line-height: 1.4rem;
  }
}
@media(max-width: 450px){
  #title.titulo-agendamento{
    font-size: 48px;
  }
  #box-visualizar-senha{
    width: 95vw;
  }
  .agendamento{
    font-size: 24px;
  }
}
@media(max-width: 425px){
  .text{
    font-size: 22px;

  }
  .infoUser{
    font-size: 22px;
  }
}

@media(max-width: 400px){
  #title.titulo-agendamento{
    font-size: 44px;
  }
  .agendamento{
    font-size: 20px;
    line-height: 1.2rem;
  }
  .infoUser{
    font-size: 20px;
  }
  .text{
    font-size: 21px;

  }
}
@media(max-width: 375px){
  #title.titulo-agendamento{
    font-size: 40px;
  }
  .agendamento{
    font-size: 16px;
    line-height: 1.2rem;
  }
  .infoUser{
    font-size: 18px;
  }
  .text{
    font-size: 19px;

  }
}
@media(max-width: 335px){
  #title.titulo-agendamento{
    font-size: 34px;
  }
  .agendamento{
    font-size: 14px;
    line-height: 1.2rem;
  }
}