
input{
  width: 120%;
  height: 100%;
  background-color: #e8e8e8;
  border-style: none;
  text-align: center;
  font-weight: normal;
  font-size: 19px;
}
.cardapio-admin select{
  height: 100%;
  margin: 0 auto;
  background-color: #e8e8e8;
  border-width: 3px;
  border-radius: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 19px;

}
select{
  width: 120%;
  height: 100%;
  margin-left: 3%;
  margin-top: 2%;
  background-color: #e8e8e8;
  border-width: 3px;
  border-radius: 15px;
  text-align: center;
  font-weight: normal;
  font-size: 19px;
}

input::placeholder{
  opacity: 0.7;
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
}

.box-agendar.cardapio-admin{
  width: 650px;
  margin-top: 56rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


#TEXTO_CARDAPIO {
  font-size: 62px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
#TEXTO_BANDEJAO {
  font-size: 25px;
  font-weight: medium;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
#IMAGEM_CARDAPIO {
  width: 135px;
  height: 135px;
  background-image: url(./../../UI/Icons/cardapioIcon.png);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.box-agendar.cardapio-admin p{
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 2rem auto 1rem;
  text-align: center;
}
#RESPOSTA_DATA>label>input{
  border: 3px, solid, rgba(00, 00, 00, 0.5);
  border-radius: 12px;
  padding: 0.5rem 1.6rem;
  box-sizing: border-box;
  margin-bottom: 0.6rem;
  width: 100%;
}
#RESPOSTA_DATA{
  width: 90%;
}

#data{
  width: 200px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
}



#resposta-turno{
  width: 100%;
  height: 45px;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#resposta-turno select{
  width: 100%;
  height: 45px;
  
} 

#OPCAO_PRINCIPAL {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
#resposta-input-admin {
  width: 70%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2.5px, solid, rgba(00, 00, 00, 0.4);
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 6px;
  margin-bottom: 0.6rem;
}
#resposta-input-admin label, #resposta-input-admin input {
  width: 95%;
}

#imagem-data {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/relogio.png);
  background-size: cover;
  background-position: center;
 
}

form{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#IMAGEM_GARFO_FACA {
  opacity: 30%;
  width: 30px;
  height: 30px;
  background-image: url(./../../UI/Icons/colher-e-garfo-cruzadosIcon.png);
  background-size: cover;
  background-position: center;
  position: relative;
  top: 100px;
  left: 40px;
}

#botao-voltar {
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  background-color: #a60808;
   margin-bottom: 5%; 
   margin-left: 20%;
   margin-top: 5%;
}  
#botao-enviar {
  font-size: 28px;
  font-weight: bold;
  color: #e8e8e8;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border-radius: 30px;
  width: 389px;
  height: 69px;
  background-color: rgba(28, 76, 46, 1);
  margin-top: 30%;
  margin-left: 20%;
}  
#BLOCO_CREDITOS {
  font-family: "Montserrat";
  color: rgba(00, 00, 00, 0.7);
  font-weight: normal;
  font-size: 17px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -1%;
  top: -10px;
}

button:hover,
 #BLOCO_CREDITOS .bold:hover{
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.7;
}
.box-agendar.cardapio-admin .botao-navegacao.verde{
  margin-top: 2rem;  
}
.box-agendar.cardapio-admin .botao-navegacao.vermelho{
  margin-bottom: 2rem;  
}

@media(max-width: 680px){
  .box-agendar.cardapio-admin{
    width: 95vw;
  }
}
@media(max-width: 600px){
  #resposta-input-admin {
    width: 80%;

  }
}
@media(max-width: 470px){
  #resposta-input-admin ::placeholder,  #resposta-input-admin input{
    font-size: 16px;
  }
  .box-agendar.cardapio-admin p{
    font-size: 22px;
  }
  .box-agendar.cardapio-admin .botao-navegacao.verde{
    margin-top: 1.6rem;  
  }
  .box-agendar.cardapio-admin .botao-navegacao.vermelho{
    margin-bottom: 1.6rem;  
  }
}

@media(max-width: 400px){
  .box-agendar.cardapio-admin #TEXTO_CARDAPIO{
    font-size: 36px;
    margin: 0 auto;
    width: auto;
  }
  .box-agendar.cardapio-admin #TEXTO_BANDEJAO{
    font-size: 22px;
    margin: 1rem auto 0;
    width: auto;
  }
  .box-agendar.cardapio-admin{
    width: 95vw;
  }
  #resposta-input-admin ::placeholder,  #resposta-input-admin input{
    font-size: 14px;
   }
   .box-agendar.cardapio-admin p{
     font-size: 20px;
   }
   #resposta-input-admin {
    width: 88%;
  }
  .box-agendar.cardapio-admin .botao-navegacao.verde{
    margin-top: 1rem;  
  }
  .box-agendar.cardapio-admin .botao-navegacao.vermelho{
    margin-bottom: 1rem;  
  }
  .box-agendar.cardapio-admin #lowtext{
    font-size: 13px;
  }
}